<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="header">
                <div class="sidebar">
                    <ul class="menu">
                        <li><a class="active" href="#home" (click)="ocultarContenido=!ocultarContenido"> ANA LUCIA HERNANDEZ <i class=" icon-right fa fa-caret-down"></i></a>
                            <ul class="submenu" *ngIf="ocultarContenido">
                                <li>Contenido 1</li>
                                <li>Contenido 1</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>