.container-fluid {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.comtainer-fluid .row {
    height: 100%;
}

.comtainer-fluid .row .col-2 {
    height: 100%;
}

.comtainer-fluid .row .col-10 {
    height: 100%;
}